{% extends "base.html" %}

{% block content %}

<div class="w3-animate-zoom w3-row w3-margin-bottom">
  <div class="w3-col l1 w3-black">&nbsp;</div>
  <div class="w3-center w3-col l10 w3-large w3-white">
    <h1 class="w3-padding-large w3-margin-bottom">Summary Report</h1>
  </div>
  <div class="w3-col l1 w3-black">&nbsp;</div>
</div>

{% for order in orders %}
<div class="w3-animate-opacity w3-row w3-margin-top w3-margin-bottom">
  <div class="w3-col l1 w3-black">&nbsp;</div>
  <div class="w3-padding-large w3-col l10 w3-large w3-white">
    <pre class="w3-padding-large"><b>Purchase ID: {{ order["purchase_id"] }}</b>
      <b>Date:</b> {{ order["date"] }}
      <b>Time:</b> {{ order["time"] }} ({{ order["time_zone"] }})

      <b>Amount:</b> {{ "{:,.2f}".format(order["amount"]) }} {{ order["currency"] }}
      <b>Card Type:</b> {{ order["card_type"] }}
      <b>Card Number:</b> {{ order["card_number"] }}

      <b>Stock Name:</b> {{ order["stock_name"] }}
      <b>Ticker Symbol:</b> {{ order["stock_symbol"] }}
      <b>Sector:</b> {{ order["stock_sector"] }}

      <b>Username:</b> {{ order["username"]}}
      <b>Full Name:</b> {{ order["full_name"] }}

      <b>IPv6 Address:</b> {{ order["ipv6_address"] }}
    </pre>
  </div>
  <div class="w3-col l1 w3-black">&nbsp;</div>
</div>
{% endfor %}

{% endblock %}
