{% extends "base.html" %}

{% block content %}

<div class="w3-animate-zoom w3-row w3-margin-bottom">
  <div class="w3-col l1 w3-black">&nbsp;</div>
  <div class="w3-center w3-col l10 w3-large w3-white">
    <h1 class="w3-padding-large w3-margin-bottom">Summary Report</h1>
  </div>
  <div class="w3-col l1 w3-black">&nbsp;</div>
</div>

{% for order in orders %}
<div class="w3-animate-opacity w3-row w3-margin-top w3-margin-bottom">
  <div class="w3-col l1 w3-black">&nbsp;</div>
  <div class="w3-padding-large w3-col l10 w3-large w3-white">
    <pre class="w3-padding-large">Purchase ID: {{ order["purchase_id"] }}
      Date: {{ order["date"] }}
      Time: {{ order["time"] }} ({{ order["time_zone"] }})

      Amount: {{ "{:,.2f}".format(order["amount"]) }} {{ order["currency"] }}
      Card Type: {{ order["card_type"] }}
      Card Number: {{ order["card_number"] }}

      Stock Name: {{ order["stock_name"] }}
      Ticker Symbol: {{ order["stock_symbol"] }}
      Sector: {{ order["stock_sector"] }}
      Market Cap: {{ order["market_cap"] }}

      Username: {{ order["username"]}}
      Full Name: {{ order["full_name"] }}

      IPv6 Address: {{ order["ipv6_address"] }}
    </pre>
  </div>
  <div class="w3-col l1 w3-black">&nbsp;</div>
</div>
{% endfor %}

{% endblock %}
